body{
    background-image: url(../img/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    /*background: color, imagem, reapeat, position/size
    background: url(../img/bg-mobile.jpg), no-repeat, top center/cover;*/
}

#container{
    width: 360px;
    height: 712px;
    border: 1px solid red;
    margin: auto;
}

#profile img{
    width: 112px;
}