*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    /*background: color, imagem, reapeat, position/size
    background: url(../img/bg-mobile.jpg), no-repeat, top center/cover;*/
}

body * {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

#container{
    width: 360px;
    height: 712px;
    border: 1px solid red;
    margin: auto;
}

#profile{
    text-align: center;
}

#profile img{
    width: 112px;
    border: 3px solid rgb(5, 150, 175);
    border-radius: 100%;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
}